#intro {
          background-color: rgb(206, 255, 127);
          font-family: 'Courier New', Courier, monospace;
          font-weight: bolder;
          
        }

#index {
           background-color: rgb(184, 181, 11);
           font-family: 'Courier New', Courier, monospace;
           font-weight: bolder;
}
#os{ }
